
archive_new_feats/fraud_feature_engineering_example.csv
archive_new_feats.zip
archive_new_feats/feature_engineering.html
archive_new_feats/dataset_clean.csv
archive_new_feats/dataset_clean_standardized.csv
proyecto copy.ipynb
model_tuning